body {
  background-color: #f2f2f2;
}

p {
  margin:0;
}

.hidden{
  display: none;
}

.school-year {
  border-top: 1px solid #2a4ad3;
  border-bottom: 1px solid #2a4ad3;
  width:70px;
  float:left;
  margin-right: 50px;
}

.education {
  text-align: left;
  font-size: 34px;
  line-height: 1.4em;
}

h1.title {
  margin-top: 50px;
}

/* Info page */
.info-image {
  width:100%;
  margin-top: 100px;
  margin-bottom: 50px;
}

.info-container {
  margin-bottom: 50px;
}
.info-container p {
  width: 75%;
  margin: auto;
  margin-bottom: 25px;
  line-height: 2em;
}

.list-container {
  max-width:1180px;
}

.list-student-picture {
  width: 100%;
}

.student-block {
  float:left;
  height: 450px;
  margin-bottom:100px;
  padding-top:50px;
}

.name {
  font-size: 22px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  color: #2a4ad3;
}

.name, .richting {
  text-align: center;
}

.richting {
  color:grey;
  line-height: 0;
  font-family: 'Open Sans', sans-serif;
}

.name:hover {
    text-decoration: underline;
}

.student-link {
  margin-bottom: 15px;
}

a.student-link:hover {
  text-decoration: underline;
}
/* End list of students */

/* Detail page */
a.back {
  float: right;
  font-size: 24px;
  color:#06214c;
}

a.back:hover {
  text-decoration: underline;
  cursor: pointer;
}

i.back-icon {
  float: right;
  padding-top:7px;
  padding-right: 10px;
  font-size: 25px;
}

.tag-container {
  text-align: right;
}

.tags {
  border: 2px solid #2a4ad3;
  color: #2a4ad3;
  border-radius: 5px;
  padding: 1px 5px ;
  margin-left:14px;
}

li > a {
  font-size: 16px;
  font-weight: normal;
  font-weight:bold;
  color:#111;
}

.left-container {
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 250px;
  margin-top: -450px;
  width:100%;
}

.info {
  text-transform: none;
  font-weight: lighter;
  width: auto;
}

.left-container li {
  width: 49%;
  display: inline-block;
}

.left-container, .right-container {
  width: 450px;
  z-index:2;
}

.student-picture{
  position: relative;
  left:-130px;
  display: block;
  margin-top: 20px; 
  width: 330px;
  height: auto;  
}

.card-container {
  height: 500px; 
  background-color: #c41435;
}
#firstname, #lastname {
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 50px;
}
#lastname {
  font-size: 42px;
}
#firstname {
  margin-left:-100px;
  z-index: 0;
  position:relative;
  text-shadow: 2px 2px 5px #c41435;
}

#firstname-mobile, #lastname-mobile {
  display:none;
}

#lastname {
  margin-bottom: 30px;
}
/* End detail page */

/* Filtering */
input {
  border:solid 1px #ccc;
  border-radius: 5px;
  padding:7px 14px;
  margin-bottom:10px
}

input:focus {
  outline:none;
  border-color:#aaa;
}

.sort-container {
  width:532px;
  display: block;
  margin: auto;
}

.sort { 
  color:#fff;
  text-decoration: none;
  background-color: #2a4ad3;
  margin:25px;
  margin-top:0;
  font-size: 12px;
}

.sort:focus {
  outline:none;
  background-color: #c41435;
  color:white;
}

.search-helper {
  margin-top: 100px;
  color:grey;
  text-align: center;
  margin-bottom:0;
  font-family: 'Open Sans', sans-serif;
}

form {
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.margin {
  margin-top:50px;
}

#checkboxlist {
  margin-bottom:20px;
}

#checkboxlist label {
  margin: 10px;
}

[type="checkbox"] + label{
  font-size: 12px;
}

.btn {
  background-color:white;
  color:black;
}

.btn:hover {
  color:white;
  background-color: #2a4ad3;
}

.sort-container .btn:hover{
  background-color: #c41435;
}

button.btn:active{
    background:#c41435;
    color:white;
}

#checkboxlist input[type=checkbox]:checked + label {
  background-color: #2a4ad3;
  color:white;
}
/* End filtering */

.title {
  color:#2a4ad3;
  text-align: center;
  width:503px;
  margin: auto;
}

[type="checkbox"]+label:before, [type="checkbox"]:not(.filled-in)+label:after {
  display: none;
}

#checkboxlist .filter {
  padding-top:15px;
  padding-bottom:35px;
} 

.row-filters,
.column-filters {
    box-sizing: border-box; 
}

.row-filters{
    word-spacing: -1em; 
    letter-spacing: -1em; 
    overflow: hidden;
    text-align: center;
    padding: 0 20px;
    width: 100%;
    max-width: 1200px;
    margin:0 auto;
}

.column-filters {
    vertical-align: top;
    word-spacing: normal; 
    letter-spacing: normal; 
    display: inline-block;
    width: 100%; 
    padding-left:17px;
    text-align: left; 
}

.column-filters .filter {
  width:90%;
  margin:25px;
}

@media (min-width:700px) { 
	.column-filters {
	    width: 33.333%;
	    max-width: 300px;
      padding-left: 6px;
	}

}

/* Footer */
.logo-footer {
  margin-top:11px;
  width: 50px;
}
/* End footer */

/* Navbar */
.nav-wrapper {
  background-color: white;
}
.nav-wrapper a {
  color: #5d5d5d;
  font-family: 'Montserrat', sans-serif;
}

nav .brand-logo {
  color: #2a4ad3;
  margin-left: 25px;
}

.logo img {
   height: 40px;
   margin-left: 20px;
   margin-top:10px;
}

.dropdown-content li>a, .dropdown-content li>span {
  color: #2a4ad3;
}
/* End navbar */

/* Header */

header .student-video {
  height: 91vh;
  width:100%;
}
/* End header */

/* Media Querries */
@media screen and (max-width: 1400px) {
  
    label.btn {
      margin-left:500px;
    }

}

@media screen and (max-width: 1180px) {
  .row .col.s3 {
    width:33%;
  }
  .student-block {
    height: 600px;
  } 
  .left-container {
    width:auto;
  }
}

@media screen and (max-width: 993px) {
  
  .student-picture{
    margin-left: 50px;
    height: auto;
  }

  .left-container {
    margin-left:280px;
    width:auto;
  }

  .search-bar {
    width:100%;
    display: block;
  }

  .student-block {
    height: 500px;
  } 

  header .student-video {
    height:550px;
  }
}

@media screen and (max-width: 900px) {
  
  .left-container li {
    width: 100%;
    display: block;
  }

  .student-picture{
    margin-left: 60px;
    height: auto;
  }

  .card-container {
    height: 550px;
  } 

  .left-container {
    margin-top: -450px;
    margin-left:300px;
  }

  #firstname, #lastname {
    font-size: 38px;
  }

  #lastname {
    font-size: 25px;
  }
  .student-block {
    height: 440px;
  }
  .student-link {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 800px) {

  .column-filters label{
	    font-size: 11px;
      padding:5px;
	}
  .row .col.s3 {
    width:50%;
  }
  .student-block {
    height: 580px;
  }
}

@media screen and (max-width: 700px) {
  
  .card-container {
    height: auto;
  } 

   .column-filters label {
     font-size: 14px;
  }

  .student-picture {
    width: 100%;
    display: block;
    margin-left: auto;
    left:0; 
    position: static;
  }

  .left-container{
    margin-top:50px;
    margin-left: 0px;
    font-size: 20px;
    padding-bottom: 30px;
  }

  #firstname, #lastname {
    display: none;
  }

  #firstname-mobile, #lastname-mobile {
    display:block;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 40px;
  }
  
  #firstname-mobile {
    z-index: 0;
    position:relative
  }

  #lastname-mobile {
    margin-bottom: 30px;
  }

  .title {
    color:#2a4ad3;
    text-align: center;
    width:351px;
    margin: auto;
  }

  .education {
    text-align: left;
    font-size: 24px;
    line-height: 1.4em;
    margin-top: 50px;
  } 

  .school-year {
    font-size: 0.8em;
    line-height: 1em;
    width: 50px;
    margin-right: 30px;
  }

  .row .col.offset-m3 {
    width: 90%;
    display: block;
    margin-left:25px;
    margin-right: 25px;
  }

  .student-block {
    height: 540px;
  }

  a.student-link {
    font-size: 20px;
  }
  .nav-wrapper {
    margin-bottom: 200px;
  }
}

@media screen and (max-width: 600px) { 

  iframe{
    margin-top:100px;
  }
  .sort-container { 
    width: 300px;
    margin: auto;
    margin-bottom: 25px;
  }
  .btn.sort{
    width: 100%;
    margin: 0;
    margin-bottom:20px;
  }
  .info-container p {
    width: 90%;
  }

  header .student-video {
    height: 300px;
    width:100%;
  }
}

@media screen and (max-width: 500px) {

  .student-block {
    height: 400px;
  }

  h3.name {
    font-size: 16px;
  }

  #nav-mobile li a {
    font-size: 12px;
  }
}

@media screen and (max-width: 450px) {

  #nav-mobile li{
    display: block;
  }

  .row .col.offset-m3 {
    width: 92%;
    margin-left:15px;
  }
  
  #lastname-mobile {
    font-size: 30px;
  }

  .left-container {
    font-size: 18px;
  }

  .student-block {
    height: 300px;
  }

  #checkboxlist {
    width:100%;
    margin-left:-4px;
  }

  #checkboxlist .filter {
    padding-top:5px;
    padding-bottom:30px;
  }

  div.column-filters label, .btn.sort {
    font-size: 10px;
  }

  footer p {
    font-size: 12px;
  }

}

@media screen and (max-width: 390px) {

  .row .col.offset-m3 {
    width: 90%;
    margin-left:15px;
  }

  .education {
    font-size: 18px;
    padding-top:10px;
  }
  .school-year {
    margin-left: 10px;
  }

  .title {
    color:#2a4ad3;
    text-align: center;
    width:100%;
    margin: auto;
  }

  .sort-container {
    width: 250px;
  }
  .student-block {
    height: 240px;
  }

  h3.name {
    font-size: 12px;
    line-height: 15px;
  }

  p.richting {
    font-size: 11px;
  }

  #nav-mobile li a {
    font-size: 11px;
    margin:5px;
    padding:5px;
  }
}

@media screen and (max-width: 310px) {
  h1.title {
    width:100%;
    margin: auto;
  }

  footer p {
    font-size: 10px;
  }
}