<footer class="page-footer indigo darken-4">
			<div class="container">
				<div class="row">
					<div class="col l6 s12">
						<h5 class="white-text">Contact</h5>
						<p class="grey-text text-lighten-4">Arteveldehogeschool Gent</p>
						<p class="grey-text text-lighten-4">Campus Mariakerke</p>
						<p class="grey-text text-lighten-4">Industrieweg 232</p>
						<p class="grey-text text-lighten-4">9030 Gent-Mariakerke</p>
						<p class="grey-text text-lighten-4">Tel. 09 234 86 00</p>
						<p class="grey-text text-lighten-4">info.grafische.digitalemedia@arteveldehs.be</p>
					</div>
					<div class="col l4 offset-l2 s12">
						<ul>
							<li>
								<a class="grey-text text-lighten-3" href="https://twitter.com/arteveldegdm" target="_blank">Twitter</a>
							</li>	
							<li>
								<a class="grey-text text-lighten-3" href="https://www.instagram.com/explore/locations/487127602/grafische-en-digitale-media-arteveldehogeschool/" target="_blank">Instagram</a>
									
							</li>
							<li>
								<a class="grey-text text-lighten-3" href="https://www.facebook.com/GrafischeendigitalemediaArteveldehogeschool/?fref=ts" target="_blank">Facebook</a>	
							</li>
							<li>
								<a class="grey-text text-lighten-3" href="https://www.arteveldehogeschool.be/" target="_blank">Artevelde website</a>	
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container ">
					<a class="white-text" href="https://www.arteveldehogeschool.be/" target="_blank">© 2016 - 2017 Arteveldehogeschool</a>
					<a class="text-lighten-4 right" href="https://www.arteveldehogeschool.be/" target="_blank"><img class="logo-footer" src="img/logo.png"></a>
				</div>
			</div>
</footer>
