		<!-- Dropdown Structure -->
		<ul id="dropdown1" class="dropdown-content">
			<li><a href="#">2016 - 2017</a></li>
		</ul>

		<!-- Navigation -->
		<nav>
			<div class="nav-wrapper">
				<a href="#" class="logo"><img src="img/logo_alumni.png"></a>
				<ul id="nav-mobile" class="right">
					<li><a href="https://www.arteveldehogeschool.be/opleidingen/bachelor/grafische-en-digitale-media" target="_blank">Arteveldehogeschool</a></li>
					<li><a href="#/info">Info</a></li>

					<!-- Dropdown Trigger -->
					<li><a class="dropdown-button" href="#!" data-activates="dropdown1">Afstudeerjaar<i class="material-icons right">arrow_drop_down</i></a></li>
				</ul>
			</div>
		</nav>

