/// Infopage
.info-image {
  width:100%;
  margin-top: 100px;
  margin-bottom: 50px;
}

.info-container {
  margin-bottom: 50px;
}

.info-container p {
  width: 75%;
  margin: auto;
  margin-bottom: 25px;
}

@media screen and (max-width: 600px) { 

  .info-container p {
    width: 90%;
  }
}