.school-year {
  border-top: 1px solid $blue;
  border-bottom: 1px solid $blue;
  width:70px;
  float:left;
  margin-right: 50px;
}

.education {
  text-align: left;
  font-size: 34px;
  line-height: 1.4em;
}

h1.title {
  margin-top: 50px;
}

header .student-video {
  height: 91vh;
  width:100%;
}

@media screen and (max-width: 993px) {

  header .student-video {
    height:550px;
  }
}

@media screen and (max-width: 700px) {
  
  .title {
    color:$blue;
    text-align: center;
    width:355px;
    margin: auto;
    margin-bottom:50px;
  }

  .education {
    text-align: left;
    font-size: 24px;
    line-height: 1.4em;
    margin-top: 50px;
  } 

  .school-year {
    font-size: 0.8em;
    line-height: 1em;
    width: 50px;
    margin-right: 30px;
  }
}

@media screen and (max-width: 650px) { 

  iframe {
    margin-top:100px;
  }

  header .student-video {
    height: 300px;
    width:100%;
  }
}

@media screen and (max-width: 390px) {

  .education {
    font-size: 14px;
    padding-top:20px;
  }
  .school-year {
    margin-left: 20px;
  }

  .title {
    color:$blue;
    text-align: center;
    width:100%;
    margin: auto;
    margin-bottom:50px;
  }

  iframe {
    margin-top:200px;
  }
}

@media screen and (max-width: 330px) {
  .education {
    padding-top:10px;
  }
}

@media screen and (max-width: 310px) {
  h1.title {
    width:100%;
    margin: auto;
    margin-bottom:50px;
  }
}