.nav-wrapper {
  background-color: white;
}
.nav-wrapper a {
  color: $blue;
  font-family: $basetext;
  text-transform: uppercase;
}

nav .brand-logo {
  color: $blue;
  margin-left: 25px;
}

.logo img {
   height: 40px;
   margin-left: 20px;
   margin-top:10px;
}

.dropdown-content li>a, .dropdown-content li>span {
  color: $blue;
}

@media screen and (max-width: 700px) {
  
  .nav-wrapper {
    margin-bottom: 200px;
  }
}

@media screen and (max-width: 500px) {

  #nav-mobile li a {
    font-size: 12px;
  }
}

@media screen and (max-width: 450px) {

  #nav-mobile li{
    display: block;
  }
}

@media screen and (max-width: 390px) {

  #nav-mobile li a {
    font-size: 11px;
    margin:5px;
    padding:5px;
  }
}