// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
@font-face {
    font-family: head-title;
    src: url(fonts/Antonio.ttf);
}
.title {
    font-family: head-title;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:300|Work+Sans);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);